[core]
	editor = nvim
	compression = 8
	whitespace = error
	preloadindex = true

[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
	lg = lg1
	lgdiff = lg2 origin/main..HEAD

[push]
	autoSetupRemote = true
	default = current

[pull]
	default = current
	rebase = true

[rebase] 
	autoStash = true
	missingCommitsCheck = warn

[log]
	abbrevCommit = true
	
[advice]
	addEmptyPathspec = false
	pushNonFastForward = false
	statusHints = false

[url "git@github.com:"]
	insteadOf = "gh:"

[url "git@github.com:shivan-s"]
	insteadOf = "shivan:"

[commit]
	gpgSign = true

[gpg]
	format = ssh

[init]
	defaultBranch = main
