[init]
	defaultBranch = main
[pull]
	rebase = false
[user]
	name = Shivan Sivakumaran
	email = 51132467+ShivanS93@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
